.error p {
    padding: 10px;
    background-color: lightcoral;
    color: red;
}

body {
    font-family: Arial;
    color: black;
    text-decoration: none;
}

.title {
    text-align: center;
}

/**************HEADER**************/
.header {
    font-family: Arial;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;
}

.header a {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: black;
    text-decoration-line: underline;
}

.menu a {
    margin: 0px 10px 0 10px;
}

/**************HOME**************/
.filter form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.noConnected {
    display: flex;
    flex-direction: row;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: black solid 1px;
    box-shadow: 3px 3px 3px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

a h3 {
    color: black;
}

/**************SELL**************/
.sellArticleForm {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.globalForm {
    display: flex;
    flex-direction: row;

}

.sellArticleForm input {
    width: 200px;
}

.firstColumn, .secondColumn {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.sellButton {
    margin: auto;
    margin-top: 30px;
}

/**************AUTH**************/
.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authDiv {
    text-align: center;
}

.authDiv a {
    color: black;
}

/**************PROFILE**************/
.profile, .updateProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileCenter {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/**************ARTICLE**************/
.imageFormLabel {
    display: flex;
}

.imageForm {
    display: flex;
    flex-direction: column;
}

.enchereTable {
    display: flex;
    justify-content: center;
}

#modification {
    display: flex;
    justify-content: center;
}

/**************IMAGE**************/
.image {
    max-width: 300px;
    max-height: 300px;
}

.imageEnchere {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
